.layout {
	$self: &;

	&_light {
		background-color: #F7F8FC;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 275px;
		grid-gap: 20px;
	}

	&__main {
		grid-column: span 1;

	}

	&__aside {
		grid-column: span 1;
	}
}
