.h-program {
	$self: &;
	padding: 50px 0;

	&__container {

	}

	&__title {

	}

	&__special {
		margin-bottom: 40px;
	}

	&__items {
		margin-bottom: 50px;
	}

	&__item {
		margin-bottom: 20px;
	}

	&__more {
		margin-left: auto;
	}
}
