.button {
	$self: &;
	@extend %reset-button;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #{$color};
	border-radius: 10px;
	min-height: 48px;
	color: #fff;
	padding: 7px 10px;
	font-family: "MM", sans-serif;
	font-size: 16px;
	
	@include media('<=xxs') {
		font-size: 15px;
		min-height: 40px;
	}


	&::after {
		display: none;
		content: '';
	}

	&_signed::after {
		display: block;
	}
	
	&_large {
		color: #fff;
		border-radius: 14px;
		background: #{$color};
		box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.25);
		height: 70px;
		width: 100%;
		max-width: 430px;
		font-size: 18px;
		border: 2px solid rgba(255, 255, 255, 0.2);
		
		@include media('<=xxs') {
			font-size: 16px;
		}

		&::after {
			display: block;
			width: 8px;
			height: 15px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white') center / contain no-repeat transparent;
			position: absolute;
			right: 28px;
			top: 50%;
			transform: translateY(-50%);
		
			@include media('<=xxs') {
				display: none;
			}
		}
	}
	
	&_small {
		color: #fff;
		border-radius: 4px;
		background: #{$color};
		box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.25);
		border: 1px solid rgba(255, 255, 255, 0.3);
		font-family: "M", sans-serif;
		font-size: 9px;
		min-height: 30px;
		width: 100%;
		max-width: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&::after {
			position: static;
			transform: none;
			background: url('#{$images-path}icons-sprite.svg#icon-arrow-view-white') center right / 130px 9px no-repeat transparent;
			height: 15px;
			width: 10px;
		}
	}

	&_outlined {
		border-radius: 10px;
		background-color: transparent;
		border: 1px solid #{$color};
		color: #{$color};
	}
}
