<footer class="footer">
	<div class="footer__banner banner-f">
		<div class="banner-f__inner">
			<div class="banner-f__text">Не пропускайте главного</div>
			<a class="banner-f__subscribe" href="./">Подписаться в телеграм</a>
			<div class="banner-f__socials socials-b">
				<a class="socials-b__item socials-b__item_twt" href="./"></a>
				<a class="socials-b__item socials-b__item_ins" href="./"></a>
				<a class="socials-b__item socials-b__item_vkt" href="./"></a>
				<a class="socials-b__item socials-b__item_tgm" href="./"></a>
			</div>
		</div>
	</div>
	<div class="footer__inner">
		<div class="footer__columns container">
			<div class="footer__col">
				<a class="footer__logo" href="./"><img src="./images/logo-white.svg" alt=""></a>
				<div class="footer__brief"><strong>Conversion</strong> — твой путеводитель по заработку в сети! Ежедневное обновление материалов и сообщество профессионалов, которые помогут тебе зарабатывать больше. Все необходимые знания и инструменты на расстоянии одного клика.</div>
				<div class="footer__socials socials-b socials-b_footer">
					<a class="socials-b__item socials-b__item_twt" href="./"></a>
					<a class="socials-b__item socials-b__item_ins" href="./"></a>
					<a class="socials-b__item socials-b__item_vkt" href="./"></a>
					<a class="socials-b__item socials-b__item_tgm" href="./"></a>
				</div>
			</div>
			<div class="footer__col">
				<h4 class="footer__col-title">Сообщество</h4>
				<a class="footer__col-item" href="./">База знаний</a>
				<a class="footer__col-item" href="./">Пошаговые руководства</a>
				<a class="footer__col-item" href="./">Сервисы</a>
				<a class="footer__col-item" href="./">Рейтинг партнерок</a>
				<a class="footer__col-item" href="./">Обучение</a>
				<a class="footer__col-item" href="./">Вакансии</a>
				<a class="footer__col-item" href="./">Конференции</a>
			</div>
			<div class="footer__col">
				<h4 class="footer__col-title">Категории статей</h4>
				<a class="footer__col-item" href="./">Арбитраж трафика</a>
				<a class="footer__col-item" href="./">Криптовалюты</a>
				<a class="footer__col-item" href="./">Маркетинг</a>
				<a class="footer__col-item" href="./">Бизнес на маркетплейсах</a>
				<a class="footer__col-item" href="./">Инструменты</a>
				<a class="footer__col-item" href="./">Интервью</a>
				<a class="footer__col-item" href="./">Новости</a>
				<a class="footer__col-item" href="./">Блоги</a>
			</div>
			<div class="footer__col">
				<h4 class="footer__col-title">Обратная связь</h4>
				<p>Есть чем поделиться?</p>
				<p>Хотите обсудить сотрудничество?</p>
				<p>Вы представитель партнерской программы или сервиса?</p>
				<p>Напишите нам на <a class="footer__mailto" href="mailto:hi@conversion.im">hi@conversion.im</a> или напрямую в Telegram.</p>
			</div>
		</div>
		<div class="footer__bottom container">
			<a href="./">Условия пользовательского соглашения</a>
			<a href="./">Политика конфиденциальности</a>
			<span>&copy; 2022 Conversion.im</span>
		</div>
	</div>
</footer> 

@@include("_modals.html") 

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
