<div class="card-s @@if(this.cls){@@cls}">
	@@if(this.img){<a href="./service.html" class="card-s__brand"><img src="@@if(this.img){./images/@@img}" alt=""></a>}
	<div class="card-s__info">
		<div class="card-s__top">
			<a href="./service.html" class="card-s__title">Keitaro</a>
			<div class="card-s__tags">
				<a class="card-s__tag tag tag_large tag_viol @@if(this.tag){@@tag}" href="./">#геблинг</a>
				<a class="card-s__tag tag tag_large tag_viol @@if(this.tag){@@tag}" href="./">#геблинг</a>
			</div>
		</div>
		<div class="card-s__text">Ipsum dolor, sit amet consectetur adipisicing elit. Repellendus eveniet pariatur itaque eos, odio beatae explicabo libero ad debitis reiciendis sapiente eligendi id dignissimos atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, necessitatibus!</div>
	</div>
	<div class="card-s__side">
		<span class="card-s__label">Промокод</span>
		<div class="card-s__code code" data-cover="10">
			<pre data-modal="promocode" data-url="http://google.com">@@if(this.promo){@@promo}</pre>
		</div>
		<a class="card-s__more" href="./">Получить бонус</a>
	</div>
</div>
