<div class="card-p @@if(this.cls){@@cls} @@if(this.advised){card-p_advised} @@if(this.sponsor){card-p_sponsor}">
	@@if(this.advised){<span class="card-p__badge">CONVERSION рекомендует!</span>}
	@@if(this.sponsor){<span class="card-p__badge">Спонсор категории</span>}
	@@if(this.img){<a class="card-p__brand" href="./partner.html"><img src="@@if(this.img){./images/@@img}" alt=""></a>}
	<div class="card-p__info">
		<h3 class="card-p__title">Keitaro</h3>
		<div class="card-p__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique incidunt corporis dignissimos, numquam, corrupti cupiditate deleniti explicabo pariatur fugit error...</div>
		<div class="card-p__tags">
			<a class="card-p__tag tag tag_large tag_viol @@if(this.tag){@@tag}" href="./">#геблинг</a>
			<a class="card-p__tag tag tag_large tag_viol @@if(this.tag){@@tag}" href="./">#геблинг</a>
			<a class="card-p__tag tag tag_large tag_viol @@if(this.tag){@@tag}" href="./">#геблинг</a>
		</div>
	</div>
	<div class="card-p__side">
		<div class="card-p__range">
			<div class="card-p__rating">
				<span>@@if(this.rate){@@rate}</span>
				<div class="rating" data-rate="@@if(this.rate){@@rate}">
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
				</div>
			</div>
			<div class="card-p__reviews"><span>0</span> отзывов</div>
			<a class="card-p__more button" href="./partner.html">Подробнее</a>
		</div>
	</div>
</div>