<div class="card-e @@if(this.cls){@@cls}">
	<h3 class="card-e__title">
		<img src="./images/brand-7.png" alt="">
		<span>Affiliate World Asia 2022</span>
	</h3>
	<div class="card-e__points">
		<div class="card-e__point card-e__point_date">
			<span>30 ноября 2022 -</span>
			<span>01 декабря 2022</span>
		</div>
		<div class="card-e__point card-e__point_geo">Бангкок, Таиланд</div>
		<div class="card-e__point card-e__point_price">$799 - $1199</div>
	</div>
	<div class="card-e__text">Одна из важнейших международных конференций по перформанс-маркетингу вновь ждет всех в Бангкоке.</div>
	<a class="card-e__more" href="./">Узнать подробнее</a>
</div>