<div class="card-v @@if(this.cls){@@cls}">
	<div class="card-v__top">
		<a class="card-v__tag" href="./">Варна</a>
		<div class="card-v__price">1500$</div>
	</div>
	<div class="card-v__info">
		<h3 class="card-v__title">Медиабайер в DATS.TEAM</h3>
		<div class="card-v__text">Reliz - диджитал-агентство мобильного перфоманс маркетинга. Создаем креативы и продвигаем мобильные приложения для крупных рекламодателей по всему миру.</div>
	</div>
	<div class="card-v__ago">6 месяцев назад</div>
</div>
