<div class="p-top__author card-au">
	<div class="card-au__avatar">
		<img src="./images/card-au-image.png" alt="">
	</div>
	<div class="card-au__content">
		<h3 class="card-au__title">Блог Gambling Pro</h3>
		<div class="card-au__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste repellat eum odio alias optio eligendi dicta possimus natus illo placeat deleniti quidem numquam debitis maiores amet facere iure pariatur quaerat, architecto, minima quae mollitia est blanditiis! Itaque doloremque inventore cum quis quidem. Itaque soluta repellendus quibusdam nostrum asperiores deserunt.</div>
	</div>
	<div class="card-au__socials">
		<a class="card-au__social card-au__social_in" href="./"></a>
		<a class="card-au__social card-au__social_vk" href="./"></a>
		<a class="card-au__social card-au__social_tg" href="./"></a>
	</div>
</div>