<div class="card-a @@if(this.cls){@@cls}">
	@@if(this.img){<a class="card-a__image" href="./"><img src="@@if(this.img){./images/@@img}" alt=""></a>}
	<div class="card-a__side">
		<div class="card-a__date">05 сентября 2022</div>
		<div class="card-a__tags">
			<a class="card-a__tag card-a__tag_case" href="./">#кейсы</a>
			<a class="card-a__tag card-a__tag_news" href="./">#новости</a>
			<a class="card-a__tag card-a__tag_trend" href="./">#в тренде</a>
		</div>
		<div class="card-a__text">Veritatis nesciunt itaque velit. At eos sequi ab, molestiae sapiente ad eveniet...</div>
		<div class="card-a__bottom">
			<div class="card-a__views">273</div>
			<a class="card-a__own" href="./">Блог Gambling Pro</a>
		</div>
	</div>
</div>