<div class="card-cr @@if(this.cls){@@cls}">
	<a class="card-cr__image" href="./"><img src="./images/card-cr-image.png" alt=""></a>
	<div class="card-cr__panel">
		<div class="card-cr__tags">
			<a class="card-cr__tag tag tag_large" href="./">#вебинар</a>
		</div>
		<div class="card-cr__rating">
			<div class="rating" data-rate="4.1">
				<span class="rating__star active"></span>
				<span class="rating__star active"></span>
				<span class="rating__star active"></span>
				<span class="rating__star active"></span>
				<span class="rating__star"></span>
			</div>
			<span>4.1</span>
		</div>
	</div>
	<h2 class="card-cr__title">Анатомия таргета</h2>
	<div class="card-cr__subtitle">Школа таргетологов Наташи Франсис</div>
	<div class="card-cr__text">Изучим одну из востребованных онлайн-профессий всего за 7 недель.</div>
	<div class="card-cr__info">
		<span>Учеников в школе: 2000</span>
		<span>Отзывов о курсе: 8</span>
	</div>
	<div class="card-cr__bottom">
		<div class="card-cr__price">от 38 700 ₽</div>
		<a class="card-cr__button button" href="./">Перейти к курсу</a>
	</div>
</div>