<div class="card-b @@if(this.cls){@@cls}">
	@@if(this.img){<a class="card-b__image" href="./">
		<img src="@@if(this.img){./images/@@img}" alt="">
		<div class="card-b__date">05-04-2022</div>
	</a>}
	<div class="card-b__side">
		<h3 class="card-b__title">Myria – обзор экосистемы для p2e проектов</h3>
		<div class="card-b__text">Обзор экосистемы для p2e проектов. Myria – обзор экосистемы для p2e проектов.Myria – обзор экосистемы для p2e проектов</div>
		<div class="card-b__tags">
			<a class="card-b__tag card-b__tag_case" href="./">#кейсы</a>
			<a class="card-b__tag card-b__tag_news" href="./">#новости</a>
			<a class="card-b__tag card-b__tag_trend" href="./">#в тренде</a>
		</div>
		<div class="card-b__bottom">
			<div class="card-b__views">273</div>
			<a class="card-b__own" href="./">Блог Gambling Pro</a>
		</div>
	</div>
</div>