<header class="header" data-scroll-lock-fill-gap> 
	<div class="header__inner">
		<a class="header__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="header__menu" data-scroll-lock-scrollable>
			<button class="header__close"></button>
			<nav class="header__navi">
				<a class="header__navi-link" href="./articles.html">Статьи</a>
				<a class="header__navi-link" href="./">Кейсы</a>
				<a class="header__navi-link" href="./author.html">Обучение</a>
				<a class="header__navi-link" href="./services.html">Сервисы</a>
				<a class="header__navi-link" href="./partners.html">Рейтинг партнерок</a>
				<a class="header__navi-link" href="./partner-vip.html">Блоги</a>
				<a class="header__navi-link" href="./events.html">Конференции</a>
			</nav>
			<form class="header__search" action="./">
				<input type="submit" value="">
				<input type="text" placeholder="Поиск по сайту">
			</form>
			<a class="header__link header__link_mobile" href="./">Топ товарная ПП</a>
		</div>
		<button class="header__search-toggle"></button>
		<a class="header__link" href="./">Топ товарная ПП</a>
		<button class="header__toggle"></button>
	</div>
</header> 

<section class="categories">
	<div class="categories__swiper swiper">
		<div class="swiper-wrapper">
			<a class="categories__slide categories__slide_1 swiper-slide" href="./">НОВОСТИ</a>
			<a class="categories__slide categories__slide_2 swiper-slide" href="./">ИНТЕРВЬЮ</a>
			<a class="categories__slide categories__slide_3 swiper-slide" href="./">АРБИТРАЖ</a>
			<a class="categories__slide categories__slide_4 swiper-slide" href="./">КРИПТОВАЛЮТЫ</a>
			<a class="categories__slide categories__slide_5 swiper-slide" href="./">КЕЙСЫ</a>
			<a class="categories__slide categories__slide_6 swiper-slide" href="./">НОВИЧКАМ</a>
			<a class="categories__slide categories__slide_7 swiper-slide" href="./">NFT</a>
			<a class="categories__slide categories__slide_8 swiper-slide" href="./">Play To Earn</a>
		</div>
	</div>
	<div class="categories__swiper-navi">
		<button class="categories__prev"></button>
		<button class="categories__next"></button>
	</div>
</section>

<section class="hero">
	<div class="hero__inner">
		
	</div>
</section>