<header class="header" data-scroll-lock-fill-gap> 
	<div class="header__inner">
		<div class="header__top top">
			<a class="top__logo" href="./"><img src="./images/logo.svg" alt=""></a>
			<div class="top__menu" data-scroll-lock-scrollable>
				<button class="top__menu-close"></button>
				<nav class="top__navi">
					<a class="top__navi-link" href="./">Статьи</a>
					<a class="top__navi-link" href="./">Кейсы</a>
					<a class="top__navi-link" href="./">Обучение</a>
					<a class="top__navi-link" href="./">Сервисы</a>
					<a class="top__navi-link" href="./">Рейтинг партнерок</a>
					<a class="top__navi-link" href="./">Блоги</a>
					<a class="top__navi-link" href="./">Конференции</a>
				</nav>
				<form class="top__search" action="./">
					<input type="submit" value="">
					<input type="text" placeholder="Поиск по сайту">
				</form>
				<a class="top__link top__link_mobile" href="./">Топ товарная ПП</a>
			</div>
			<button class="top__search-toggle"></button>
			<a class="top__link" href="./">Топ товарная ПП</a>
			<button class="top__menu-toggle"></button>
		</div>
		<div class="header__swiper swiper">
			<div class="swiper-wrapper">
				<a class="header__slide header__slide_1 swiper-slide" href="./">НОВОСТИ</a>
				<a class="header__slide header__slide_2 swiper-slide" href="./">ИНТЕРВЬЮ</a>
				<a class="header__slide header__slide_3 swiper-slide" href="./">АРБИТРАЖ</a>
				<a class="header__slide header__slide_4 swiper-slide" href="./">КРИПТОВАЛЮТЫ</a>
				<a class="header__slide header__slide_5 swiper-slide" href="./">КЕЙСЫ</a>
				<a class="header__slide header__slide_6 swiper-slide" href="./">НОВИЧКАМ</a>
				<a class="header__slide header__slide_7 swiper-slide" href="./">NFT</a>
				<a class="header__slide header__slide_8 swiper-slide" href="./">Play To Earn</a>
			</div>
			<div class="header__swiper-navi">
				<button class="header__prev"></button>
				<button class="header__next"></button>
			</div>
		</div>
	</div>
</header> 
