<div class="p-top__tags tags swiper">
	<div class="tags__inner swiper-wrapper">
		<a class="tags__item swiper-slide" href="./">#facebook</a>
		<a class="tags__item swiper-slide" href="./">#трафик</a>
		<a class="tags__item swiper-slide" href="./">#арбитраж</a>
		<a class="tags__item swiper-slide" href="./">#реклама</a>
		<a class="tags__item swiper-slide" href="./">#вконтакте</a>
		<a class="tags__item swiper-slide" href="./">#креативы</a>
		<a class="tags__item swiper-slide" href="./">#кейс</a>
		<a class="tags__item swiper-slide" href="./">#яндекс</a>
		<a class="tags__item swiper-slide" href="./">#twitter</a>
		<a class="tags__item swiper-slide" href="./">#instagram</a>
		<a class="tags__item swiper-slide" href="./">#youtube</a>
		<a class="tags__item swiper-slide" href="./">#linkedin</a>
		<button class="tags__more">+<span></span></button>
	</div>
</div>