<div class="p-top__tags hashtags swiper">
	<div class="hashtags__inner swiper-wrapper">
		<a class="hashtags__item swiper-slide" href="./">#facebook</a>
		<a class="hashtags__item swiper-slide" href="./">#трафик</a>
		<a class="hashtags__item swiper-slide" href="./">#арбитраж</a>
		<a class="hashtags__item swiper-slide" href="./">#реклама</a>
		<a class="hashtags__item swiper-slide" href="./">#вконтакте</a>
		<a class="hashtags__item swiper-slide" href="./">#креативы</a>
		<a class="hashtags__item swiper-slide" href="./">#кейс</a>
		<a class="hashtags__item swiper-slide" href="./">#яндекс</a>
		<a class="hashtags__item swiper-slide" href="./">#twitter</a>
		<a class="hashtags__item swiper-slide" href="./">#instagram</a>
		<a class="hashtags__item swiper-slide" href="./">#youtube</a>
		<a class="hashtags__item swiper-slide" href="./">#linkedin</a>
		<button class="hashtags__more">+<span></span></button>
	</div>
</div>