.hero {
	$self: &;
	background: url('#{$images-path}hero-decor.svg') center center / auto no-repeat, linear-gradient(220deg, #25436d 0%, #3a66a4 33%, #3a66a4 66%, #224a81 100%);
	min-height: 480px;
	margin-bottom: 30px;

	&__inner {

	}
}
