.popular {
	$self: &;

	&__container {

	}

	&__title {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__title-text {
		display: block;
		grid-column: span 3;
		
		@include media('<=sm') {
			grid-column: span 1;
		}
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}
	}

	&__title-side {
		align-self: center;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		grid-auto-rows: 180px;
		margin-bottom: 20px;
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		grid-column: span 1;

		&:nth-child(1) { order: 1; }
		&:nth-child(2) { 
			order: 2; 
			grid-area: span 2 / span 2;
			
			@include media('<=sm') {
				order: 3; 
				grid-area: 2 / 1 / span 2 / span 2;
			}
			
			@include media('<=xxs') {
				grid-area: span 1 / span 1;
			}
		}
		&:nth-child(3) { 
			order: 3;
			
			@include media('<=sm') {
				order: 2; 
			}
		}
		&:nth-child(4) { order: 4; }
		&:nth-child(5) { order: 5; }
	}

	&__banner {
		display: block;
		margin-bottom: 20px;

		img {
			display: block;
		}
	}
}
