.tag {
	$self: &;
	background-color: #ECEFF6;
	text-decoration: none;
	border-radius: 100px;
	padding: 4px 6px;
	font-size: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
	
	&_small {
		font-size: 9px;
	}
	
	&_large {
		font-size: 15px;
		padding: 3px 8px;
	}

	&_white {
		background-color: #fff;
	}

	&_viol {
		color: #4D1495 !important;
	}

	&_purp {
		color: #D91B5C !important;
	}

	&_green {
		color: #359D2C !important;
	}

	&_lil {
		color: #5E5BFF !important;
	}
}
