.card-s {
	$self: &;
	box-sizing: border-box;
	display: flex;
	padding: 28px 30px 30px;
	background-color: #fff;
	border-radius: 10px;

	&_grey {
		background-color: #ECEFF6;
	}
	
	@include media('<=md') {
		flex-flow: column nowrap;
		padding: 30px 20px;
	}

	&__brand {
		width: 175px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		margin-right: 40px;
		
		@include media('<=md') {
			margin: 0 auto 40px;

		}
	}

	&__info {
		margin-right: 20px;
		
		@include media('<=md') {
			margin: 0 0 20px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 5px;

		@include media('<=md') {
			margin-bottom: 10px;
		}
	}

	&__title {
		font-family: "MB", sans-serif;
		font-size: 21px;
		margin-right: 10px;
		line-height: 1.2;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
	}

	&__tag {
		margin: 3px 10px 3px 0;		
	}

	&__text {
		line-height: 1.5;
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		
		@include media('<=md') {
			align-self: stretch;
		}
	}

	&__label {
		color: #{$color};
		font-family: "MSB", sans-serif;
		font-size: 18px;
		margin-bottom: 20px;
	}

	&__code {
		margin-bottom: 20px;
		min-width: 210px;

		@include media('<=md') {
			min-width: auto;
			width: 100%;
		}
	}

	&__more {
		display: flex;
		// justify-content: flex-end;
		align-items: center;
		font-family: "MSB", sans-serif;
		flex-shrink: 0;
		text-decoration: none;
		color: #{$color};
		font-size: 18px;
		max-width: 280px;
		white-space: nowrap;
				
		@include media('<=xxxs') {
			font-size: 15px;
		}
	
		&::after {
			display: block;
			content: '';
			width: 40px;
			height: 16px;
			background: url('#{$images-path}icons-sprite.svg#icon-arrow-view-purple') center right / 180px 14px no-repeat transparent;
			margin-left: 15px;
			
			@include media('<=xxs') {
				width: 45px;
			}
		}
	
	}
}