.card-a {
	$self: &;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	min-height: 320px;
	display: flex;
	flex-flow: column nowrap;
	
	&_blog {
		flex-flow: row nowrap;
		min-height: auto;
		
		#{$self}__image {
			height: auto;
			min-width: 270px;
			height: 155px;
		}
		
		#{$self}__date {
			top: auto;
			bottom: 10px;
		}

		#{$self}__side {
			padding: 15px;
		}

		#{$self}__title {
			font-size: 16px;
		}
	}

	&__image {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		height: 140px;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__side {
		box-sizing: border-box;
		padding: 20px 10px;	
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;	
	}

	&__date {
		background-color: #ECEFF6;
		border-radius: 3px;
		font-size: 10px;
		color: #667;
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 4px 4px;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
	}

	&__tag {
		margin: 0 10px 10px 0;
	}

	&__title {
		font-family: "MB", sans-serif;
		font-size: 14px;
		color: #474747;
		margin-bottom: 5px;
	}
	
	&__text {
		color: #474747;
		margin-bottom: 10px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__views {
		color: #A9A9A9;
		font-size: 14px;

		&::before {
			display: inline-block;
			content: '';
			width: 14px;
			height: 11px;
			background: url('#{$images-path}icons-sprite.svg#icon-view-view-grey') center / contain no-repeat transparent;
			margin: 0 4px 4px 0;
			vertical-align: middle;
		}
	}

	&__own {
		text-decoration: none;
		color: #D91B5C;
		font-size: 14px;
	}
}
