.h-services {
	$self: &;
	padding: 50px 0;
	background-color: #ECEFF6;

	&__container {

	}

	&__title {
		margin-bottom: 45px;
	}

	&__items {
		margin-bottom: 50px;

		@include media('<=md') {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
		}
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		margin-bottom: 20px;
		grid-column: span 1;
		
		@include media('<=md') {
			margin-bottom: 0;
		}
	}

	&__more {
		margin-left: auto;
	}
}