.m-promocode {
	$self: &;

	&__hero {
		padding: 5px;
		text-align: center;
		background-color: #{$color};
		font-family: "MEB", sans-serif;
		font-size: 32px;
		color: #fff;
		margin-bottom: 60px;
		
		@include media('<=xxs') {
			font-size: 28px;
			margin-bottom: 40px;
		}
	}
	
	&__text {
		color: #{$color};
		text-align: center;
		font-family: "MM", sans-serif;
		font-size: 24px;
		max-width: 390px;
		margin: 0 auto 55px;
		
		@include media('<=xxs') {
			font-size: 20px;
			margin: 0 auto 45px;
		}

		span {
			color: #000;
		}
	}

	&__link {
		width: calc(100% - 40px);
		max-width: 290px;
		margin: 0 auto;
	}
}
