.hashtags {
	$self: &;
	@keyframes fade_in {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	&__inner {
		display: flex;
		overflow: hidden;

		@include media('<=sm') {
			overflow: visible;
		}
	}

	&__item {
		background-color: #ECEFF6;
		color: #181819;
		text-decoration: none;
		font-family: "MSB", sans-serif;
		font-size: 18px;
		padding: 10px 15px;
		border-radius: 10px;
		margin: 0 15px 15px 0;
		min-width: 100px;
		text-align: center;
		animation: fade_in 0.3s;
		animation-fill-mode: forwards;
		width: auto;
		
		&:not(:nth-child(-n+7)) {
			display: none;
			opacity: 0;
		}

		@include media('<=lg') {
			&:not(:nth-child(-n+6)) {
				display: none;
				opacity: 0;
			}
		}

		@include media('<=md') {
			&:not(:nth-child(-n+5)) {
				display: none;
				opacity: 0;
			}
		}
		
		@include media('<=sm') {
			display: block !important;
			margin: 0 0 15px 0;
		}
		
		@include media('<=xxs') {
			font-size: 16px;
			min-width: 90px;
		}
	}
	
	&__more {
		@extend %reset-button;
		background-color: #ECEFF6;
		font-family: "MSB", sans-serif;
		padding: 10px 15px;
		border-radius: 10px;
		margin: 0 0 15px auto;
		font-size: 18px;

		@include media('<=sm') {
			display: none;
		}
	}
}
