.resume {
	$self: &;
	box-sizing: border-box;
	background-color: #F7F8FC;
	padding: 18px 18px 40px;
	display: flex;
	flex-flow: column nowrap;
	font-size: 14px;

	&__row {
		display: flex;
		margin: 7px 0;
	}

	&__point {
		color: #525252;
		margin-right: auto;
	}

	&__check {

		input[type='radio'] {
			@extend %reset-input;
			cursor: pointer;
			height: 20px;
			width: 20px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			filter: grayscale(100%);

			&:nth-child(1) {
				background-image: url('#{$images-path}ic-like.svg');
				margin-right: 10px;
			}

			&:nth-child(2) {
				background-image: url('#{$images-path}ic-dislike.svg');
				filter: grayscale(100%) brightness(170%);
			}

			&:checked {
				filter: none;
			}
		}

		&_top {
			input[type='radio'] {
				&:nth-child(1) {
					background-image: url('#{$images-path}ic-okay.svg');
				}

				&:nth-child(2) {
					background-image: url('#{$images-path}ic-notokay.svg');
				}
			}
		}
	}

	&__total {
		margin-top: auto;
		background: linear-gradient(90deg, #FF72A2 0%, #FF80AB 100%);
		border-radius: 7px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
}