.subject {
	$self: &;
	box-sizing: border-box;
	background-color: #ECEFF6;
	border-radius: 10px;
	padding: 20px;

	&__title {
		font-family: "MSB", sans-serif;
		font-size: 21px;
	}
	
	&__points {
		ul {
			counter-reset: item;
			
			ul {
				padding-left: 20px;
			}
		}
		
		li {
			display: block;
			color: #{$color};
			margin: 7px 0;
			
			&::before {
				display: inline-block;
				font-family: "MSB", sans-serif;
				content: counters(item, ".") ". ";
				counter-increment: item;
				color: #6D6D6D;
				margin-right: 10px;
			}
		}
	}
}
