.review-p {
	$self: &;

	&__text {

	}

	&__panel {
		display: grid;
		grid-template-columns: 1fr 285px;
		grid-gap: 80px;
		
		@include media('<=md') {
			grid-gap: 20px;
		}
		
		@include media('<=sm') {
			grid-template-columns: 1fr;
		}
	}

	&__editor {
		min-height: 300px;
		grid-column: span 1;
		border-radius: 20px;
		box-sizing: border-box;
		border: 1px solid #5f5f5f;
	}
	
	&__resume {
		min-height: 300px;
		grid-column: span 1;
		border-radius: 20px;
		box-sizing: border-box;
		border: 1px solid #5f5f5f;
	}

	&__agree {
		align-items: center;
		cursor: pointer;
		display: flex;

		input[type='checkbox'] {
			@extend %reset-input;
			border: 1px solid #9e9e9e;
			border-radius: 5px;
			margin-right: 8px;
			height: 18px;
			width: 18px;
			
			&:checked {
				background: url('#{$images-path}icons-sprite.svg#icon-check-view-purple') center / 8px 6px no-repeat transparent;
			}
		}
	}

	&__button {
		width: 100%;
		max-width: 170px;
	}
}