.aside {
	$self: &;
	box-sizing: border-box;
	position: relative;

	&_blind {
		@include media('<=sm') {
			position: fixed;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			z-index: 10;
			right: -300px; top: 0;
			max-width: 300px;
			width: 100%;
			padding: 60px 0 20px;
			margin: 0;
			background-color: #fff;		
			box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
			transition: right 0.3s ease-out;
			
			#{$self}__toggle {
				display: block;
			}
			
			#{$self}__close {
				display: block;
			}

			#{$self}__sticky {
				position: static;
				overflow: auto;
				max-height: 100%;
				padding: 0 20px;
			}
			
			&.opened {
				right: 0;
			}
		}
	}

	&_filter {
		@include media('<=md') {
			position: fixed;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			z-index: 10;
			left: -300px; top: 0;
			max-width: 300px;
			width: 100%;
			padding: 60px 20px 20px;
			margin: 0;
			background-color: #fff;		
			box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
			transition: left 0.3s ease-out;
			
			#{$self}__toggle {
				display: block;
				left: auto;
				right: 0;
				transform: translate(100%, -50%);
				box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.1);
				border-radius: 0 100px 100px 0;
				background: url('#{$images-path}icons-sprite.svg#icon-side-view-grey') right 20px center / 6px 24px no-repeat #fff;
			}
			
			#{$self}__close {
				display: block;
			}

			#{$self}__filter {
				overflow: auto;
				max-height: 100%;
			}
			
			&.opened {
				left: 0;
			}
		}
	}

	&__sticky {
		position: sticky;
		top: 90px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;

		&_cards {
			@include media('<=sm') {
				grid-template-columns: repeat(2, 1fr);
			}
			
			@include media('<=xxs') {
				grid-template-columns: 1fr;
			}

			#{$self}__title {
				@include media('<=sm') {
					grid-column: span 2;
				}
				
				@include media('<=xxs') {
					grid-column: span 1;
				}
			}
		}
	}

	&__banner {
		display: block;
		overflow: hidden;
		border-radius: 10px;
		grid-column: span 1;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card {
		grid-column: span 1;
	}

	&__title {
		font-family: "MSB", sans-serif;
		font-size: 21px;
		grid-column: span 1;
	}
	
	&__subtitle {
		font-family: "MSB", sans-serif;
		margin-bottom: 5px;
	}
	
	&__hashtag {
		color: inherit;
		text-decoration: none;
	}

	&__block {
		padding: 20px 16px;
		background-color: #ECEFF6;
		border-radius: 10px;
	}

	&__button {
		
	}

	&__close {
		@extend %reset-button;
		display: none;
		position: absolute;
		top: 15px;
		left: 15px;
		width: 34px;
		height: 34px;
		background: url('#{$images-path}icons-sprite.svg#icon-menu-close-view-black') center / 25px 25px no-repeat transparent;
	}

	&__toggle {
		@extend %reset-button;
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;
		transform: translate(-100%, -50%);
		width: 40px;
		height: 50px;
		box-shadow: -7px 0px 7px rgba(0, 0, 0, 0.1);
		border-radius: 100px 0 0 100px;
		background: url('#{$images-path}icons-sprite.svg#icon-side-view-grey') left 20px center / 6px 24px no-repeat #fff;
	}
}
