@import "lib/additional.scss"; 
@include reset(); 

// Include breakpoints badge
body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);

// Import animate-scss
@import
	"../../node_modules/animate-scss/_properties.scss",
	// "../../node_modules/animate-scss/_attention-seekers/attention-seekers.scss",
	// "../../node_modules/animate-scss/_bouncing-entrances/bouncing-entrances.scss",
	// "../../node_modules/animate-scss/_bouncing-exits/bouncing-exits.scss",
	// "../../node_modules/animate-scss/_fading-entrances/fading-entrances.scss",
	// "../../node_modules/animate-scss/_fading-exits/fading-exits.scss",
	// "../../node_modules/animate-scss/_flippers/flippers.scss",
	// "../../node_modules/animate-scss/_lightspeed/lightspeed.scss",
	// "../../node_modules/animate-scss/_rotating-entrances/rotating-entrances.scss",
	// "../../node_modules/animate-scss/_rotating-exits/rotating-exits.scss",
	"../../node_modules/animate-scss/_sliding-entrances/sliding-entrances.scss";
	// "../../node_modules/animate-scss/_sliding-exits/sliding-exits.scss",
	// "../../node_modules/animate-scss/_specials/specials.scss",
	// "../../node_modules/animate-scss/_zooming-exits/zooming-exits.scss",
	// "../../node_modules/animate-scss/_zooming-entrances/zooming-entrances.scss";

@include font-face("Montserrat-Thin", "MT");
@include font-face("Montserrat-SemiBold", "MSB");
@include font-face("Montserrat-Regular", "M");
@include font-face("Montserrat-Light", "ML");
@include font-face("Montserrat-Medium", "MM");
@include font-face("Montserrat-ExtraLight", "MEL");
@include font-face("Montserrat-ExtraBold", "MEB");
@include font-face("Montserrat-Bold", "MB");
@include font-face("Montserrat-Black", "MBL");
	
@import "../../node_modules/swiper/swiper";
	
// Import BEM blocks scss
@import "../blocks/**/*.scss";

body, html {
	box-sizing: border-box;
	font-size: #{$basesize}px;
	line-height: 1.2;
	font-family: "MM", sans-serif;
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

body {
	padding-top: 70px;
	
	@include media('<=xs') {
		padding-top: 60px;
	}
}

// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

.pt-2 { padding-top: 20px; }
.pt-3 { padding-top: 30px; }
.pt-5 { padding-top: 50px; }
.pt-10 { padding-top: 100px; }

.pb-2 { padding-bottom: 20px; }
.pb-3 { padding-bottom: 30px; }
.pb-5 { padding-bottom: 50px; }
.pb-10 { padding-bottom: 100px; }

.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 30px; }
.mt-5 { margin-top: 50px; }
.mt-10 { margin-top: 100px; }

.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-5 { margin-bottom: 50px; }
.mb-10 { margin-bottom: 100px; }

.pbt-2 { padding-top: 20px; padding-bottom: 20px; }
.pbt-3 { padding-top: 30px; padding-bottom: 30px; }
.pbt-5 { padding-top: 50px; padding-bottom: 50px; }
.pbt-10 { padding-top: 100px; padding-bottom:100px; }

.mbt-2 { margin-top: 20px; margin-bottom: 20px; }
.mbt-3 { margin-top: 30px; margin-bottom: 30px; }
.mbt-5 { margin-top: 50px; margin-bottom: 50px; }
.mbt-10 { margin-top: 100px; margin-bottom:100px; }

