.header {
	$self: &;
	background-color: #fff;
	box-shadow: 0 4px 30px rgb(0 0 0 / 8%);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	@keyframes menu_fade {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	&__inner {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		height: 70px;
		width: 100%;
		// max-width: 1360px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
		
		@include media('<=xs') {
			height: 60px;
		}
		
		@include media('<=xxs') {
			padding: 0 15px;
		}
	}

	&__logo {
		width: 190px;
		min-width: 140px;
		margin-right: auto;
	}

	&__menu {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 750px;
		margin: 0 15px;
		
		&.switched {
			#{$self}__navi {
				display: none;
			}

			#{$self}__search {
				display: flex;
			}
		}

		@include media('<=lg') {
			display: flex;
			flex-flow: column nowrap;
			position: fixed;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			z-index: 11;
			left: -500px; top: 0;
			max-width: 500px;
			width: 100%;
			padding: 40px 20px 50px;
			margin: 0;
			background-color: #fff;		
			box-shadow: 5px 0 20px rgb(0 0 0 / 10%);
			transition: left 0.3s ease-out;
			overflow: auto;
			
			#{$self}__search {
				display: flex !important;
			}
			
			&.opened {
				left: 0;
			}
		}
	}

	&__menu-close {
		@extend %reset-button;
		display: none;
		
		@include media('<=lg') {
			display: block;
			position: absolute;
			top: 15px;
			right: 15px;
			width: 34px;
			height: 34px;
			background: url('#{$images-path}icons-sprite.svg#icon-menu-close-view-black') center / 25px 25px no-repeat transparent;
		}
	}

	&__navi {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: "MB", sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		width: 100%;
		animation: menu_fade 0.4s linear;
		
		@include media('<=lg') {
			font-family: "MM", sans-serif;
			flex-flow: column nowrap;
			align-items: flex-start;
			order: 1;
			margin-bottom: 30px;
		}
	}

	&__navi-link {
		white-space: nowrap;
		color: inherit;
		text-decoration: none;
		
		@include media('<=lg') {
			color: #000;
			font-size: 18px;
			display: block;
			margin: 15px 10px;
			align-self: stretch;
		}
		
		@include media('<=xxxs') {
			font-size: 16px;
			margin: 10px;
		}
	}

	&__search {
		display: none;
		flex-grow: 1;
		animation: menu_fade 0.4s linear;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 5px 0;

		input[type="text"] {
			@extend %reset-input;
			width: 100%;
			color: #000;
			font-family: "ML", sans-serif;
			
			&::placeholder {
				font-family: "MM", sans-serif;
				color: #888;
			}

			@include media('<=lg') {
				color: #000;
			}
		}

		input[type="submit"] {
			@extend %reset-button;
			width: 34px;
			height: 34px;
			background: url('#{$images-path}icons-sprite.svg#icon-zoom-view-black') center / 22px 22px no-repeat transparent;
			margin-right: 10px;

			@include media('<=lg') {
				background-image: url('#{$images-path}icons-sprite.svg#icon-zoom-view-black');
				background-size: 25px 24px;
			}
		}

		@include media('<=lg') {
			flex-grow: 0;
			width: 100%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #000;
			margin-bottom: 30px;
		}
	}

	&__search-toggle {
		@extend %reset-button;
		width: 34px;
		height: 34px;
		background: url('#{$images-path}icons-sprite.svg#icon-zoom-view-black') center / 22px 22px no-repeat transparent;
		margin: 0 25px 0 auto;
		flex-shrink: 0;

		&.switched {
			background-image: url('#{$images-path}icons-sprite.svg#icon-menu-close-view-black');
			background-size: 20px 20px;
		}

		@include media('<=xxxlg') {
			margin-right: 25px;
		}

		@include media('<=xxlg') {
			margin-right: 15px;
		}
		
		@include media('<=lg') {
			display: none;
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;
		font-family: "MB", sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		white-space: nowrap;
		background-color: #60B483;
		color: #fff;
		padding: 8px 12px;
		border-radius: 3px;
		text-align: center;

		@include media('<=lg') {
			margin-left: 20px;
		}

		@include media('<=xxs') {
			display: none;
		}

		&_mobile {
			display: none;
			box-sizing: border-box;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 13px;
			width: calc(100% - 40px);
			
			@include media('<=xxs') {
				display: block;
				margin: 0;
			}
		}
	}

	&__menu-toggle {
		@extend %reset-button;
		display: none;
		flex-shrink: 0;
		width: 30px;
		height: 40px;
		background: url('#{$images-path}icons-sprite.svg#icon-menu-open-view-black') center / 30px 19px no-repeat transparent;
		margin-left: 20px;
		
		@include media('<=lg') {
			display: block;
		}
	}
}
