.card-cr {
	$self: &;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;

	&__image {
		display: block;
		margin-bottom: 30px;
		
		img {
			display: block;
			border-radius: 10px;
			max-height: 250px;
			margin: 0 auto;
			// height: 100%;
			// width: 100%;
			// object-fit: cover;
		}
	}
	
	&__panel {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	
	&__tags {
		
	}
	
	&__tag {
		
	}
	
	&__rating {
		display: flex;
		align-items: center;
		
		.rating {
			margin-right: 10px;
		}
	}
	
	&__title {
		font-family: "MSB", sans-serif;
		font-size: 18px;	
		margin-bottom: 12px;
	}
	
	&__subtitle {
		font-family: "MSB", sans-serif;
		font-size: 14px;
		margin-bottom: 12px;
	}
	
	&__text {
		margin-bottom: 12px;
		font-size: 14px;
	}
	
	&__info {
		font-size: 12px;
		color: #555;
		margin-bottom: 40px;
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media('<=xxs') {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	
	&__price {
		color: $color;
		font-family: "MSB", sans-serif;
		margin-right: 15px;
		white-space: nowrap;

		@include media('<=xxs') {
			width: 100%;
			text-align: center;
			margin: 0 0 20px;
		}
	}

	&__button {
		flex-grow: 1;
		max-width: 200px;
	}
}
